#root {
  /* max-width: 1280px; */
}

/* .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    place-items: center;
    height: 100vh;
} */

.container {
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  place-items: center;
  .left{
    flex-grow: 3;
  }
  .right{
    flex-grow: 2;
  }
}



